:host {
  display: block;

  flex: 1;
  overflow: hidden;
  position: relative;
}

.board-container {
  width: 100%;
  height: 100%;
  background-color: #fff;


  background-size: 20px 20px;
  background-image:
    linear-gradient(to right, #f0f0f0 1px, transparent 1px),
    linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);

  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {

  display: block;
  cursor: crosshair;
}
