<nav class="navbar">
  <div class="nav-left">
    <span class="brand">Paint Studio</span>
    <ul class="menu">
      <li>File <i class="ri-arrow-down-s-line"></i></li>
      <li>Edit <i class="ri-arrow-down-s-line"></i></li>
      <li>Shapes <i class="ri-arrow-down-s-line"></i></li>
      <li>Colors <i class="ri-arrow-down-s-line"></i></li>
      <li>Actions <i class="ri-arrow-down-s-line"></i></li>
    </ul>
  </div>



  <div class="nav-right">
    <div class="undo-redo">
      <button class="icon-btn"><i class="ri-arrow-go-back-line"></i></button>
      <button class="icon-btn"><i class="ri-arrow-go-forward-line"></i></button>
    </div>

  </div>
</nav>
